<h1> Philosophy and Culture </h1>
<blockquote>
<br>
<ul>No more Ridiculous Rates for a private tutor!</ul>
<ul>ATFY provides one consistent hourly rate for every tutor on our team!</ul>
<ul>No more rankings. We promote a work culture that is based on teamwork and a collective effort to provide an exceptional end product to our users!</ul>
<ul>If one tutor is not available, another is always ready to step in!</ul>
</blockquote>


<h1> Our Team </h1>
<blockquote>
<br>
<ul>No more Ridiculous Rates for a private tutor!</ul>
<ul>ATFY provides one consistent hourly rate for every tutor on our team!</ul>
<ul>No more rankings. We promote a work culture that is based on teamwork and a collective effort to provide an exceptional end product to our users!</ul>
<ul>If one tutor is not available, another is always ready to step in!</ul>
</blockquote>


<h1> Our Story </h1>

<blockquote>

<p>To all Students,
 
I wanted to take this space to share how ATFY started. When I began college I felt lost and unsure about my future. Now I am expecting to graduate as an engineer which I consider to be a huge accomplishment. However, I don't believe I would have been able to reach my full potential if I hadn't met a tutor along the way that I could relate to. My tutor helped me realize my own strengths and weaknesses, and gave me the initial idea that I might want to be an academic mentor myself.

I worked as a subject area tutor for mathematics courses on campus for a total of four semester. I loved this job, but there was one thing I noticed.  Students were not always able to get the help they needed.  It was hard for every student to get that valuable one on one attention at the most crucial times. A little frustrated, I decided that their should be a more efficient way for students to have access to a quality learning experience.

Know that A Tutor For You is the only professional tutoring service that can provide a true on-demand experience for its students. With A Tutor For You, students no longer will feel left out and incapable, but instead confident and motivated to learn!</p>

<h3>-Navid Ashrafi, CEO and Founder</h3>

</blockquote>
